<div class="content">
  <h2>Update your Faithbook profile</h2>
  <p>Correct your spelling errors!</p>

  <%= render partial: "form" %>

  <%= link_to "Delete Profile", profile_path(@profile), method: :delete, class: "delete" %>
</div>
