<div class="content">
  <h2>Sign up to create your Faithbook profile</h2>
  <p>It's so easy.</p>
  <%= form_tag("/sign_up", method: "post") do %>
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <input type="password" name="password_confirmation" placeholder="confirm password" />
    <input type="submit" value="Sign Up" />
  <% end %>
</div>
