body {
  background: white;
  color: black;
  font-family: helvetica;
  font-weight: 100;
  margin: 20px;
}

header {
  display: inline-block;
  width: 100%;
  text-align: center;
  border_bottom: 1px solid black;
  margin: 0 auto;
}

.comments {
  display: block;
  padding: 20px;
  width: 25%;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content {
  display: block;
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid black;
}

.comment_date_time {
  font-size: 12px;
}

a {
  font-size: 16px;
  font-weight: 100;
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.notice {
  color: red;
}

.send_prayer {
  color: blue;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
