<!DOCTYPE html>
<html>
<head>
  <title>Faithbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2>fai&#10013;hbook</h2>
    <p>The Christian social network.</p>
  </header>

  <main>

  </main>

  <footer>

  </footer>

<%= yield %>

</body>
</html>
